.w-20 {

    width: 20%;
}

.w-30{
    width: 30%;
}

.logo-text{
    width: 100px ;
    
}

.bi{
     margin-right: 10px;
}

.story{
    height: 60px;
}

.dp{
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.image{
    width: 400px;
    height: 350px;
    border-radius: 5px;
}

.suggestion h5{
    font-size: 16px;
}

.suggestion .dp{
    margin-top: 0px !important;
}